.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: auto;
  border: 1px solid rgb(183, 31, 31);
}

.td,
.th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  border: 1px solid rgb(237, 165, 165);
  border-collapse: collapse;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

.add_user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  grid-column: 1 / 3;
  justify-self: center;
}

.button:hover,
.button:active {
  background-color: #ffe2ed;
}

.input {
  border: 1px solid #77002e;
  border-radius: 4px;
  height: 2rem;
  padding: 2px;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.label {
  padding-left: 8%;
}

.error_text {
  color: #b40e0e;
  font-size: small;
}

.bgImage {
  background-image: url("../../data/login_background.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(50px);
}

.spinner {
  justify-content: center;
}
